<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026735869239-h3ioe5r13u8tho65c3fglvvddifi8veu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026735869239-h3ioe5r13u8tho65c3fglvvddifi8veu</string>
	<key>API_KEY</key>
	<string>AIzaSyDe9WZxj9oet2AGBCniAZCLEOLweTxbWbo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026735869239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alltopafi.starwarschat</string>
	<key>PROJECT_ID</key>
	<string>starwarschat-b3b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>starwarschat-b3b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026735869239:ios:54ef1086a0c31567</string>
	<key>DATABASE_URL</key>
	<string>https://starwarschat-b3b7e.firebaseio.com</string>
</dict>
</plist>